@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* add more colors as wish */
:root {
  --background: #000d15;
  --foreground: #13222d;
  --extraground: #cbc6ba;
  --logocolor: #7c691c;
  --textcolor: white;
  --text-hero: #858585;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-extraground: var(--extraground);
  --color-logocolor: var(--logocolor);
  --color-base: var(--textcolor);
  --color-hero-body: var(--text-hero);
  --font-aboreto: var(--font-aboreto);
  --font-newrocker: var(--font-newrocker);
  --font-rubikdirt: var(--font-rubikdirt);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--textcolor);
  display: flex;
  background-color: var(--background);
  flex-direction: column;
}

.page-transition {
  animation: slideIn 0.6s ease-in;
}

@keyframes slideIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
