@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* add more colors as wish */
:root {
  --background:#000D15 ;
  --foreground:#13222D ;
  --extraground: #CBC6BA;
  --logocolor: #7C691C;
  --textcolor: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-extraground: var(--extraground);
  --color-logocolor: var(--logocolor);
  --color-base: var(--textcolor);
  --font-aboreto: var(--font-aboreto);
  --font-newrocker: var(--font-newrocker);
  --font-rubikdirt: var(--font-rubikdirt);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--textcolor);
  display:flex;
  background-color: var(--background);
  flex-direction: column;
}
